* {
    margin: 0;
    padding: 0;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#character {
    width: 20px;
    height: 50px;
    background-color: violet;
    position: relative; /*Zodat ik het kan bewegen*/
    top: 150px; /*game height - character height*/
}

#block {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear; /*Pakt Keyframes (naam), duratie, hoe vaak, en dan de animatie*/
}
/*----------*/
/*Animaties*/
/*----------*/

.animate{
    animation: jump 700ms;
}

/*----------*/
/*Key Frames*/
/*----------*/

@keyframes block{ /*keyframe maakt een animatie*/
    0%{left:480px;} /*Plek 1 en dan plek 2*/
    100%{left:-40px;}
}

@keyframes jump{
    0%{top:150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top:150px}
}