* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/img/background.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.grid-container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("/img/background.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-box {
    width: 80%;
    position: absolute;
    top: 17%;
    left: 10%;
    padding: 50px 100px;
    transition: top 1s;
    text-shadow:
        0 0 7px #7c801f,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 255, 255),
        0 0 82px rgb(255, 255, 255),
        0 0 92px rgb(255, 255, 255),
        0 0 102px rgb(255, 255, 255),
        0 0 151px rgb(255, 255, 255);

}

.menu-links a {
    text-decoration: none;
    color: gold;
    display: block;
    width: fit-content;
    margin: 30px 0;
    font-size: 36px;
    border: 1px solid gold;
    padding: 20px;
    width: 250px;
    height: 100px;
}

a {
    text-decoration: none;
}

.menu-links a::after {
    content: '';
    width: 40px;
    height: 5px;
    background: gold;
    display: none;
    margin-left: 10px;
    margin-bottom: 5px;
}

.menu-links a:hover::after {
    display: inline-block;
}

/*Login*/


.heading {

    text-align: center;
    background-color: gold;
    opacity: 50%;
  

}

.nav {
        display: flex;
      justify-content: space-evenly;
    color: gold;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 150%;
}

.form {
    color: gold;
    font-size: 50px;
    text-align: center;
    padding: 150px;
}

input[type=submit] {
    width: 10%;
    background-color: gold;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text],
select {
    width: 30%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Cards*/

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    padding-top: 50px;
    margin-right: 9%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



.flip-card {
    
    float: right;
    width: 25%;
    padding: 0 10px;
    padding: 16px;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    
}

.flip-card-inner {
    border: 1px solid gold;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;



}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
        box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #aab83f,
        0 0 0.8rem #aab83f,
        0 0 2.8rem #aab83f,
        inset 0 0 1.3rem #aab83f;
        animation: pulsate 1.5s infinite alternate;
}

.flip-card-back {
    background-color: #000000;
    color: white;
    transform: rotateY(180deg);
}

.image{
    width: 100%;
    height: 100%;
}