* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4a3f3f;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    gap: 40px;
    padding: 30px;
}

#ui {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#ui button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

#game {
    width: 900px;
    height: 300px;
    position: relative;
    overflow: hidden;
    background: #333;
    border: 3px solid #111;
}

.lane {
    height: 100px;
    border-bottom: 1px solid #222;
}

#player {
    position: absolute;
    left: 50px;
    width: 80px;
    top: 100px; 
}
