body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("/Whack-A-Mole/img/background.jpg");
    background-size: cover;
}

h1,h2{
    color: crimson;
}

#board {
    width: 540px;
    height: 540px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("/Whack-A-Mole/img/tile.jpg");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 180px; 
    height: 100px;
    background-image: url("/Whack-A-Mole/img/Truck_001A.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}